.survey{
min-height: 620px;
}

.top-bar {
    height: auto;
    background: #e3fbe4;
    line-height: 50px;
    padding: 0 20px;
    margin-bottom: 10px;
}

header {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #E5E7EA;
  margin-bottom: 0px;
  vertical-align: middle; }
  
.bwizard-steps .active {
    color: white;
    background: #555; }
 
 .btn-default:hover {
    color: #555;
	font-weight: bold;
   }
	.panel-heading {
    position: relative;
    padding: 12px 15px;
    border: none;
    border-bottom: 0;
    border-bottom: 1px solid #f1f9f0 !important;
    background: linear-gradient(#fdfefd, #f1f9f0);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 6px 15px; }

.btn-info {
  background-color: #4e9d4e;
  border-color: #4e9d4e;
  color: white; }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:active:hover , .btn-info:active:focus,.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover{
    color: white;
    background-color: #3ff412;
    border: 1px solid #3ff412; }

.panel {
    margin-bottom: 20px;
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #badcb6;
}

footer {
    background: white;
    border-top: 1px solid #4e9d4e;
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 11px;
    width: 100%;
    padding: 0 20px;
}
.btn-default.active,.btn-default.active:hover, .btn-default:active, .btn-default:focus {
    color: #333;
    background-color: #ffb5b5;
    border-color: #da5858;
	}


aside#sidebar {
  
  background: #0c150f;
   }

 /*En el main.css le cambio el color
 #eaf5fb por el #f1f9f1
 #53acdf por #bbbbbb
 #EFF5F9 por #f1f9f0
 #bfe0f3 por #eeeee3
 #cee3f0 por #e3fbe4
 #d4eaf7 por #eeeee5
 #12A4F4 por #3ff412
 color: #bbbbbb; por color: #555;
 */